
<app-main-nav>
  <div class="container">
    <mat-accordion *ngIf="results.length!==0">
        <mat-list role="list" *ngFor="let item of results">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title class="titluri">
                        {{item.category}}
                    </mat-panel-title>
                </mat-expansion-panel-header>


                <p> {{item.text}} </p>
                <list *ngFor="let lnk of item.links">
                    <list-item><a href = "{{lnk}}"> {{lnk}} </a><br></list-item>
                </list>
            </mat-expansion-panel>

        </mat-list>
    </mat-accordion>
    <mat-card class="noResults" *ngIf="results.length===0">
        <p class="noResultsText">Nu ai notificari :)</p>
    </mat-card>

  </div>
  <footer>
    <app-footer></app-footer>
  </footer>
</app-main-nav>
