
<body>
<!--
<div class="container">
  <div class="continut">

  </div>
</div>
-->
<div class="footer">
  <div class="footer-content">.
    <div class="footer-sectiune despre">
      <h1 class="numeAp">!FII<span>bolnav</span></h1>
      <p>
        Această aplicație este munca unor studenți la informatică ce au identificat o problemă comună, și anume, lipsa
        unor doctori disponibili non-stop.
      </p>
      <a mat-raised-button href="#" routerLink="/despre"
         color="accent">Mai multe</a>
    </div>

    <div class="footer-sectiune contact">
      <h2>Contact</h2>
      <p>
        <mat-icon color="accent">home</mat-icon>
        Iasi, Iasi, Facultatea de Informatica
      </p>
      <p>
        <mat-icon color="accent">local_phone</mat-icon> 07566*****
      </p>


    </div>

    <div class="footer-sectiune socials">
      <h3>Social media</h3>
      <p>
        <a mat-icon-button href="https://www.facebook.com/reberbk001/"  aria-label="facebook svg">
          <mat-icon aria-hidden="false" aria-label="facebook svg" svgIcon="facebook"></mat-icon>
        </a>
        Facebook
      </p>
      <p>
        <a mat-icon-button href="https://www.facebook.com/reberbk001/"  aria-label="instagram svg">
          <mat-icon aria-hidden="false" aria-label="instagram svg" svgIcon="instagram"></mat-icon>
        </a>
        Instagram
      </p>
    </div>
  </div>

  <div class="footer-bottom">
    &copy; www.FIIBolnav.com | Designed by Medication Team
  </div>

</div>

</body>

