
.html{
  height:100%;
}

.container {
  min-height: 100%;
  margin-top: 15px;

}

.header h2
{
  display: flex;
  text-align: center;
  position: center;
  margin: 10px;

}
.example-h2 {
  margin-left: 2%;
  margin-top: 4%;

  text-align: left;
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;

}
.active input[type=search]:focus:not([readonly]) {
  border-bottom: 1px solid indigo;
  box-shadow: 0 1px 0 0 pink;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  width: 1060px;
  font-size: 15px;
}

.example-margin {
  margin: 0 20px;



}
.example-margin1 {
  margin: 0 20px;
  color:indigo;

}
.buton-search{
  padding-left: 2%;
 font-family: Arial, Helvetica, sans-serif;
 margin-bottom: 4%;
 margin-top:2%;
 
}
.btn-primary{
  width: %;
  height: 25%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20%;


}


.form-control{
  color: indigo;
}
