.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

/* You can add global styles to this file, and also import other style files */
body
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container
{
  position: relative;
  width: 1200px;
  height: 300px;
  margin: 240px auto;
  margin-left: 13px;
}
@media screen and (max-width: 1200px){
  .container{
    width: 40%;
  }
}
@media screen and (max-width: 600px){
  .container{
    width: 90%;
  }
}
.container .box
{
  position: relative;
  width: calc(370px - 30px);
  height: calc(350px - 30px);
  background: #64B5F6;
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
  align-content: center;
}
.container .box .icon
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #90CAF9;
  transition: 0.5s;
  z-index: 1;
  text-align: center;

}
.container .box:hover .icon
{
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;

}
.container .box .icon .fa
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 80px;
  transition: 0.5s;
  color: #fff;
  text-align: center;

}
.container .box:hover .icon .fa
{
  font-size: 40px;
}
.container .box .content
{
  position: absolute;
  top: 100px;
  height: calc(100% - 100px);
 /* text-align: center;*/
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
}
.container .box:hover .content
{
  top:100px;
  opacity: 1;

}
.container .box .content h3
{
  margin-left: 0px;
  padding: 0;
  color: #fff;
  font-size: 24px;


}
.container .box .content h2
{
  margin-left: 100px;
  padding: 0;
  color: #fff;
  font-size: 24px;

}

.container .box .content p
{

  /*margin: 0;*/
  padding: 0;
  text-align: center;
  color: #fff;

}

