<app-main-nav>
<div class="login">
<div style="min-height: 100vh;" fxLayout="row" fxLayoutAlign="center center">
<div class="medium-list" fxFlex="17%">
  <button mat-flat-button color="primary" style="width: 147px;margin-left: 3px; font-size: large; font-weight: bold;" routerLink="/register" class="divider">Inregistrare</button>
  <button mat-flat-button color="primary" style="width: 147px;margin-left: 3px; font-size: large; font-weight: bold;" routerLink="/login" class="divider">Logare</button>
  <mat-card>
    <mat-card-header>
    <mat-card-title>Logare</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onLoginSubmit()" novalidate>
      <div class="form-container">
        <mat-form-field>
            <input id="username"
                   matInput
                   formControlName="username"
                   [(ngModel)]="user.username"
                   placeholder="Nume utilizator" />
          </mat-form-field>

        <mat-form-field>
            <input id="password"
                   matInput
                   formControlName="password"
                   [(ngModel)]="user.password"
                   placeholder="Parola"
                   [type]="hide ? 'password':'text'" />
              <mat-icon matSuffix (click)="hide = !hide">
                {{hide ? 'visibility' : 'visibility_off'}}
              </mat-icon>
          </mat-form-field>

          <button mat-flat-button color="accent" type="submit"
                  class="mat-raised-button mat-primary"
                  [disabled]="!loginForm.valid">Trimite</button>
      </div>
    </form>

  <div>
    <p></p>
    <a routerLink="/recuperare">Ti-ai uitat datele?</a><p></p>
    <button style="margin-top: 100px;" class="loginBtn loginBtn--facebook" (click)='facebooklogin()'>Facebook</button>
    <button class="loginBtn loginBtn--google" (click)='googlelogin()'>Google</button>
  </div>
</mat-card-content>
  </mat-card>
</div>
</div>
</div>
  <footer>
    <app-footer></app-footer>
  </footer>
</app-main-nav>
