<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"

               [ngClass]="{hidden: !(isHandset$ | async) === true}"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>

      <a href="#" mat-button routerLink="/main">Acasa</a>
      <a href="#" mat-button routerLink="/form">Cauta Specialist</a>
      <a href="#" mat-button routerLink="/recomandaremed">Cauta medicament</a>
      <a href="#" mat-button routerLink="/medicamente">Medicamente</a>
      <a href="#"  mat-button routerLink="/doctors">Doctori</a>
      <a href="#"  mat-button routerLink="/specialization" >Specializari</a>
      <a href="#"  mat-button routerLink="/question">Intrebari</a>
      <a href="#" mat-button routerLink="/contact">Contact</a>
      <a href="#" mat-button routerLink="/rating">Recenzie</a>
      <a href="#" mat-button routerLink="/despre">Despre noi</a>
      <a href="#" mat-button routerLink="/login">Login</a>
      <a href="#" mat-button routerLink="/imageForm">Diagnosticare</a>



    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span style="  font-family:'Bodoni', serif;
      font-size: 30px;
      color:#E8EAF6;">!FII<span style="  font-family:'Bodoni', serif;
        font-size: 29px;
        color: #82B1FF;">bolnav</span> </span>
      <span class="spacer"></span>
      <div class="hide">
        <a href="#" mat-button routerLink="/main">Acasa</a>
        <button mat-button [matMenuTriggerFor]="menu1">Medicamente</button>
        <mat-menu #menu1="matMenu">
          <button mat-menu-item routerLink="/drugs-recommendation">Cauta medicament</button>
          <button mat-menu-item routerLink="/drugs" >Lista medicamente</button>
        </mat-menu>
        <a href="#" mat-button routerLink="/form">Cauta specialist</a>

        <button mat-button [matMenuTriggerFor]="menu2">Specializari</button>
        <mat-menu #menu2="matMenu">
          <button mat-menu-item routerLink="/doctors">Cauta doctori</button>
          <button mat-menu-item routerLink="/specialization">Lista specializari generale</button>
          <button mat-menu-item routerLink="/question">Intrebari</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="menu3">Diagnosticari</button>
        <mat-menu #menu3="matMenu">
          <button mat-menu-item routerLink="/imageForm">Diagnosticare cu poza</button>
          <button mat-menu-item routerLink="/quiz">Chestionar diagnosticare</button>
          <button mat-menu-item routerLink="/notification">Notificari</button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="menu4">Mai multe</button>
        <mat-menu #menu4="matMenu">
          <button mat-menu-item routerLink="/about">Despre noi</button>
          <button mat-menu-item routerLink="/rating">Recenzie</button>
          <button mat-menu-item routerLink="/contact">Contact</button>
        </mat-menu>
        <a href="#" mat-button routerLink="/login">Login</a>

      </div>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>


