<app-main-nav>
  <div class="login">
<div style="min-height: 100vh; min-width: 100vh;" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="50%">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Creare profil doctor</mat-card-title>
            </mat-card-header>
            <mat-card-content style="text-align: center;">
                <form [formGroup]="profileForm" (ngSubmit)="profileForm.valid && onSubmit()" novalidate>
                    <mat-grid-list cols="2" rowHeight="100" style="height: 500px">
                        <mat-grid-tile>
                            <mat-form-field>
                                <input matInput id="name" formControlName="name" [(ngModel)]="user.name" placeholder="Nume" />
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field>
                                <input matInput id="surname" formControlName="surname" [(ngModel)]="user.surname" placeholder="Prenume" />
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field>
                                <input matInput id="county" formControlName="county" [(ngModel)]="user.county" placeholder="Judet" />
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field>
                                <input matInput id="municipality" formControlName="municipality" [(ngModel)]="user.municipality" placeholder="Localitatea" />
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field>
                                <input matInput id="street" formControlName="street" [(ngModel)]="user.street" placeholder="Strada" />
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field>
                                <input matInput id="number" formControlName="number" [(ngModel)]="user.number" placeholder="Numarul" />
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field>
                                <input matInput id="bloc" formControlName="bloc" [(ngModel)]="user.bloc" placeholder="Bloc" />
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field>
                                <input matInput id="scara" formControlName="scara" [(ngModel)]="user.scara" placeholder="Scara" />
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field>
                                <input matInput id="age" formControlName="age" [(ngModel)]="user.age" placeholder="Varsta" />
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field>
                                <mat-label>Sex</mat-label>
                                <mat-select matInput formControlName="sex" [(ngModel)]="user.sex" #sex name="gender">
                                    <mat-option *ngFor="let gender of genders" [value]="gender.value">{{gender.viewValue}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field>
                                <mat-label>Specializare</mat-label>
                                <mat-select matInput formControlName="specialization" [(ngModel)]="user.specialization" #specialization name="specialization">
                                    <mat-option *ngFor="let specialization of specializations" [value]="specialization.value">{{specialization.viewValue}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field>
                                <input matInput id="workplace" formControlName="workplace" [(ngModel)]="user.workplace" placeholder="Denumire cabinet/spital" />
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile>
                            <mat-form-field>
                                <input matInput id="workNumber" formControlName="workNumber" [(ngModel)]="user.workNumber" placeholder="Telefon" />
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <button mat-raised-button style="justify-content: center;" type="submit" color="primary" [disabled]="!profileForm.valid">Trimite</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
  </div>
  <footer>
    <app-footer></app-footer>
  </footer>
</app-main-nav>
