@import "@angular/material/prebuilt-themes/indigo-pink.css";

*:not(mat-icon){
  font-family: Helvetica /* Replace with your custom font */, sans-serif !important; 
  /* Add !important to overwrite all elements */
}

body {
    margin: 0;
    background-image: url('https://www.itl.cat/pngfile/big/12-127212_medical-doctor-wallpaper-hd-pc-medical-doctor-wallpaper.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.spacer {
    flex-grow: 1;
}


.medium-list {
    width: 600px;
    padding: 10px;
  }
     
  .list-viewer-wrapper {
    background-color: #FFF;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, .03);
    border-radius: 3px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .24), 0 0 2px rgba(0, 0, 0, .12);
    min-height: 600px;
    margin: 4px;
  }
  
  .list-header-title {
    color: rgba(0, 0, 0, .54);
    background: rgba(0, 0, 0, .03);
    padding: 8px 20px;
    font-weight: bold;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
 
  .divider {
    margin-top: 10px !important;
    margin-bottom: 10px !important;  
  }

  .loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
  }
  .loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
  }
  .loginBtn:focus {
    outline: none;
  }
  .loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
  }
  
  
  /* Facebook */
  .loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
  }
  .loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
  }
  .loginBtn--facebook:hover,
  .loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
  }
  
  
  /* Google */
  .loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
  }
  .loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
  }
  .loginBtn--google:hover,
  .loginBtn--google:focus {
    background: #E74B37;
  }