<app-main-nav>

  <div class="container">
    <mat-card class="card">
      <form>
        <div class=" tab">

          <p>Aparatul sau sistemul asupra căruia solicitati medicamentatie:</p>
          <mat-form-field>
            <mat-select placeholder="Selectati doar una*" name="body_part" (selectionChange)="simtomsChangeAction(bodyPart)" [(ngModel)]="bodyPart" [(value)]="parteaAleasa">
              <mat-option *ngFor="let part of parts" [value]="part.partName" >{{ part.partName }}</mat-option>
            </mat-select>
          </mat-form-field><br>

          <p>Simptome manifestate:</p>
          <mat-form-field>
            <mat-select [formControl]="simptoms" multiple placeholder="Selectati una sau mai multe*" name="simptoms" [(ngModel)]="simptome" [(value)]="sAles">
              <mat-option *ngFor="let simtom of simtomsList" [value]="simtom">{{ simtom }}</mat-option>
            </mat-select>
          </mat-form-field>
          <br>

          <p>Forma medicamentoasa dorita:</p>
          <mat-form-field>
            <mat-select [formControl]="forms" multiple placeholder="Selectati una sau mai multe*" name="format_med" [(ngModel)]="formatMed" [(value)]="fAleasa">
              <mat-option *ngFor="let format of formatsMed" [value]="format">{{ format }}</mat-option>
            </mat-select>
          </mat-form-field>



          <p>Ati selectat:  {{bodyPart}}
            <br>Manifestand urmatoarele simptome:  {{simptome}}
            <br> Dorind medicamentul sub forma de:  {{formatMed}}

          </p>
          <br>

          <button  mat-flat-button color="primary" type="submit" class ="btn-primary" color="primary" (click)="cerereMedicament()">Trimite</button>


        </div>
      </form>
    </mat-card>


  </div>
  <footer>
    <app-footer></app-footer>
  </footer>
</app-main-nav>
