.html{
  height:100%;
}

.container {
  min-height: 100%;
  margin-top:  20px;

}
.tab{
  margin-top: 4%;
  margin-bottom: 10px;
  margin-left: 25%;
  margin-right: 35%;
  height: 60%;
  width: 50%;
  display: block;

}

mat-form-field{
  height: 100%;
  width: 100%;

}
.example-panel{
  margin-bottom: 10px;
  margin-left: 25%;
  margin-right: 35%;
  height: 60%;
  width: 50%;
  display: block;

}
.btn-primary{
  width: 55%;
  height: 25%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20%;


}
.mat-option{
  background-color: white ;
}
