
<app-main-nav>
<div class="container">
  <div class="continut">
    <h1>Hai sa ne cunosti mai bine!</h1>
    <mat-tab-group color=warn backgroundColor=primary>
      <mat-tab label="Ce facem noi?">
        <br> <br> <br><br>
        <mat-icon color="warn">edit</mat-icon>
        Prin alegerea simptomelor și a părților corpului problematice, sunt generate o serie de posibile medicamente ce
        pot remedia sau atenua durerea existentă - pastile, creme, siropuri - și farmaciile de unde acestea pot fi
        achiziționate.
        <br> <br> <br>

        <mat-icon color="warn">flash_on</mat-icon>
        Dacă simptomele manifestate și, implicit, bifate, nu sunt compatibile cu niciun medicament din baza
        de date existentă, utilizatorului îi este recomandat un consult la specialist în funcție de zona corpului
        selectată
        ca fiind sursă a problemei.
      </mat-tab>
      <mat-tab label="Cum a pornit totul?">
        <br> <br> <br><br>
        <mat-icon color="warn">emoji_objects</mat-icon>
        O idee simpla naste de cele mai multe ori o idee mareata. In primavara
        anului 2020 un simplu proiect pentru facultate a facut ca aventura sa inceapa.
        <br><br><br>
        <mat-icon color="warn">group_work</mat-icon>
        28 de studenti in fata tehnologiei, ce ar putea iesi rau? Asadar, inarmati cu multa rabdare si dorinta de a
        invata, am pornit intr-o aventura din care aveam sa invatam multe.
      </mat-tab>
      <mat-tab label="Cifre">
        <br> <br> <br><br>
        <span style="margin-left: 10% " matBadge="5" matBadgeOverlap="false" matBadgeColor="warn" matBadgeSize="large">Limbaje folosite</span>
        <br><br>
        <span style="margin-left: 80% " matBadge="28" matBadgeOverlap="false" matBadgeColor="warn" matBadgeSize="large">Dezvoltatori</span>
        <br><br>
        <span style="margin-left: 45%" matBadge="7" matBadgeOverlap="false" matBadgeColor="warn" matBadgeSize="large">Saptamani de lucru</span>
        <br><br>
        <span style="margin-left: 10% " matBadge="5" matBadgeOverlap="false" matBadgeColor="warn" matBadgeSize="large">Echipe</span>
        <br><br>
        <span style="margin-left: 80% " matBadge="1" matBadgeOverlap="false" matBadgeColor="warn" matBadgeSize="large">Profesor coordonator</span>
        <br>
        <span style="margin-left: 45% " matBadge="∞" matBadgeOverlap="false" matBadgeColor="warn" matBadgeSize="large">Entuziasm</span>
      </mat-tab>
    </mat-tab-group>



    <p class="avertizare">
      <span class="spanatentionare">Atentionare!</span>
      <br>
      Aplicația propusă oferă utilizatorului o variantă rapidă și precisă de găsire a unor medicamente care îl pot ajuta
      până la momentul unui eventual consult întârziat sau care nu poate avea loc din diverse motive necunoscute.
      Această
      aplicație nu oferă sfaturi medicale, sugerând medicamente ușoare, ce diminuează durerea sau pur și simplu mențin
      bolnavul într-o stare constantă. Aplicația NU reprezintă un substitut pentru îngrijire medicală profesională sau
      tratament.</p>


  </div>
</div>

<footer>
  <app-footer></app-footer>
</footer>


</app-main-nav>

